{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 140,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "bracketLine": false,
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "ignore"
}
